.hide {
	display: none;
}
html {
	scroll-behavior: smooth;
}
body a {
	text-decoration: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

#email {
  border-right: 1px solid #333;
}